* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 24px;
  overflow-x: hidden;
}

span{
  text-align: center;
  margin: 3px;
  font-size: 15px;
}
.main {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logo{
  width: 50px;
  margin: 10px;
}
.actionRowsWrap {
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
  width: 50%;
}
.actionRowsWrap2 {
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
  width: 100%;
}

.actionRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 12px; */
}

.actionRow label {
  display: flex;
  align-items: center;
  /* gap: 8px; */
}
.pulse-ring {
  content: '';
  width: 100px;
  height: 100px;
	background: #189BFF;
  border: 5px solid #189BFF;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  animation: pulse infinite 1.5s;
}
button {
	border: none;
  padding: 0;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-size: 3em;
  color: #fff;
  padding: 0;
  margin: 10px;
  background: #189BFF;
	position: relative;
	z-index: 999;
  display: inline-block;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d3d3d3; 
}


#chat-hidden{
display: none;
}

#chat{
  width: 50%;
  height: 85vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  /* height: 500px; */
  background-color: #ededed;
  /* border: 1px solid #ddd; */
  transition: 0.5s;
  border-radius: 5px;
  overflow-y: auto;
  /* transform: translateX(120%); */
}
#stop{
  background-color: red;
  margin-left: 20px;
}
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
		border: 65px solid #0B3082;
  }
  50% {
		border: solid #A3FFC2;		
		opacity: 0.8;
  }
	
	 90% {
    transform: scale(3.2);
		opacity: 0.2;
		border: 3px solid #2E3CFF;
  }
  100% {
    transform: scale(3.3);
		opacity: 0;
		border: 1px solid #7A89FF;
  }
}
button:hover {
  background-color: #45a049;
}

input {
  height: 40px;
  padding: 0 12px;

  font-size: 16px;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: center;
}

#status {
  overflow: auto;

  background-color: #fff;
  height: 120px;
  padding: 10px 12px;

  border: 1px solid #ccc;
  border-radius: 8px;

  font-size: 14px;
  line-height: 1.6;
}

.videoSectionWrap {
  position: relative;
  height: calc(100dvh - 170px);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 12px; */
}

.actionRow.switchRow {
  width: 100%;

  justify-content: center;
}
.switchRow {
  flex-direction: column;
}
.switchRow > label {
  width: 100%;

  display: flex;
  justify-content: center;
}

.switchRow > label input {
  flex: 1;
  max-width: 500px;
}

.videoSectionWrap .videoWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./"),

  /*  radial-gradient(*/
  /*    108.09% 141.42% at 0% 100%,*/
  /*    rgba(219, 255, 213, 0.3) 0%,*/
  /*    rgba(255, 255, 255, 0) 100%*/
  /*  ),*/
  /*  linear-gradient(135deg, #ffeede 5.71%, #ffd9d9 47%, #a3dce7 93.47%);*/
}
#bgInput{
  display: none;
}
.videoWrap .videoEle {
  width: 100%;
  height: 100vh;

}

/*---------- Switch START ----------*/
.switchWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 8px; */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*---------- Switch END ----------*/

.videoSectionWrap .hide {
  display: none;
}

.videoSectionWrap .show {
  display: flex;
  object-fit: contain;
}

.hide {
  display: none;
}
.show {
  display: flex;
}
.message_chat{
  font-size: 30px;
  color: black;
  margin-right: 500px;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  /* box-shadow: 10px 5px    #ededed; */
  width: 100%;
}

.header h3{
  padding: 20px 10px;
    background-color: #ddd;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
}


.header h2{
  font-size: 16px;
  /* padding-bottom: 10px; */
}

body{
  padding-top: 10px;
}

.videoSectionWrap , .videoSectionWrap .videoWrap , .videoWrap .videoEle ,.videoWrap .videoEle{
  height: 70vh;
}

#chat{
  /* height: 190px; */
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
}

/* .active{
  width: 500px;
} */
@media screen and (max-width:767px){
  button{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .main{
    margin-top: 0px;
    display: flex;
    /* justify-content:space-around; */
    flex-direction: column;
  }

  button i{
    font-size: 30px !important;
  }

  #chat{
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0px;
    height: 500px;
    background-color: #ededed;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-y: auto;
  }

  .actionRowsWrap{
    width: 100%;
  }

.videoSectionWrap , .videoSectionWrap .videoWrap , .videoWrap .videoEle ,.videoWrap .videoEle{
  height: 400px;
}
}